services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: clustering-next
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
